body {
	margin: 0px;
	/*background: url(images/top_bg.gif);
	background-repeat: repeat-x;*/
	font-family: "Trebuchet MS", verdana, arial, sans-serif; 
	font-size:1.0em;
	color:#333;
}



td {
	font-family: "Trebuchet MS", verdana, arial, sans-serif; 
	font-size:1.0em;
	color:#333;
}


h1 {
	font-size:1.5em;
	border-bottom:1px Solid #D0D0D0;
	margin-bottom:10px;
}

h1 a {
	color:#333;
	text-decoration:none;
}

h1 a:hover {
	color:#000;
	text-decoration:underline;
}


#footer {
	font-size:10pt;
	color:#999;	
	text-align:center;
	clear:both;
}

#searchResults {
	margin:5px;
}

H3 {
	margin:0px;
}

.list {
	border-collapse:collapse;
	width:100%;
}

.list thead th {
	text-align:left;
	padding:2px;
}

.list tbody td {
	padding:2px;
	border:1px Solid #d7d7d7;
	vertical-align:top;
}

.list .even {
	background:#f4f4f4;	
}

.list tfoot td {
	padding:2px;
	border:1px Solid #d7d7d7;
}

.edit {
	border:1px Solid #d7d7d7;
	background:#f4f4f4;
	margin:0px;
	padding:10px;
}

.edit fieldset {
	border:0px;
}

.edit .formfield {
	padding-top:10px;
}

.edit label {
	width:250px;
	text-align:right;
	padding:0px 5px 0px 0px;
	clear:both;
	float:left;
}

.error {
	color:#f00;
}
.success{
	color:green;
}
.disabled {
	color:#999;
}

.description {
	color:#999;
	font-size:11px;	
}
.edit .error {
}

.edit .error ul {
	margin:0px 0px 0px 255px;;
	padding:0px;
	list-style:none;
}

.edit .error ul li {
}

.edit .formfield {
	clear:both;
}

.edit .formfieldinputstack {
	float:left;
	padding:0px 0px 10px 0px;
}

.edit .formfieldinputstack label {
	float:none;
	width:auto;	
}

.edit .input {
	width:40%;
}

.edit .controls {
	clear:both;
	padding:10px 0px 0px 255px;
}

.edit td{
	padding: 4px 4px 4px 4px;
}

.edit input[type="text"]{
	width:200px;
}

a img {
	border:0px;
}

/**** Main Menu ***/


#navMenu {
	display: block;
	float:right;
}

#navMenu ul {
	margin: 0;
	list-style: none;
}

#navMenu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#navMenu li a {
	display: block;
	padding: 55px 20px 12px 20px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

* html #navMenu a {width:1%;}

#navMenu li a:hover {
}

#navMenu li a.current {
}

#navMenu li a.current:hover {
	color: #fff;
}


/**** Top ***/


#top {
	width: 100%;
	height: 88px;
	color: #fff;
	overflow:hidden;
	float:left;
	background-image: url('../../images/top_bg.gif');
	margin-bottom:20px;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:15px;
	display:block;
	float:left;
	padding-left: 10px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h3 {
	color: White;
	letter-spacing: 3px;
	font-size: 1.4em;
	font-weight: normal;
	margin: 30px 0px 0px 20px;
	display:block;
	float:left;
}

/**** Content ***/
.contentSection {
	clear:both;
}

.contentSection h1 {
	font-size: 1.5em;
	margin:0px;
	border:none;
}

.contentIcon {
	float:left;
	margin-right:10px;
}

.contentNote {
	font-size:0.9em;
	color:#999;
}

.sectionNavigation {
	margin:-10px 0px 15px 0px;
}

.tableDisplay {
	background-color: #98acb4;
	text-align:left;
}

.tableHeader {
	background-color: #cdd9de;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}

.tableSubHeader, .tableSubheader a {
	background-color: #eff4f6;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #000000;
}

.tableRow0, .tableRow0 a {
	background-color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	color: #235577;
}

.tableRow1, .tableRow1 a {
	background-color: #eff4f6;
	font-family: Verdana;
	font-size: 11px;
	color: #235577;
}

.tableRowMain, .tableRowMain a {
	background-color: #eff4f6;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}

.tableMessageCell {
	background-color: #e0e8eb;
}

.tableMessageCellRight {
	background-color: #ffffff;
}


